<div class="jumbotron center">
	<h1>Pinteresting</h1>
	<span class="glyphicon glyphicon-star"></span> 
	<div class="row">
		  

  <div class="col-xs-6 padding"><%= link_to 'sign up', 'http://www.google.com', class:"btn btn-warning btn-lg"%></div>
  <div class="col-xs-6 padding"><%= link_to 'go 2 hell', '#', class:"btn btn-danger btn-lg"%></div>
</div>
</div>